<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Longuage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97F694A81F17738900FB7F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97F694BC1F17738900FB7F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97F694C71F17738900FB7F04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
